body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6;
margin: 0;
padding: 0;
background-color: antiquewhite;
color: black;
}
.title h1 {
    text-align: center;
    padding: 30px;
   background-color: antiquewhite;
    color: black;
   font-style: normal;
      font-family: "Ultra", serif;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}
h2 {
    text-align: center;
    margin-top: 40px;
    color: black;
    font-size: 30px;
}

.hidden{
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}
.show{
  opacity: 1;
  transform: translatey(0);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 ;
}
.social-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}
.social-icons img:hover {
  background-color: black;
  transform: scale(1.1);
  opacity: 1;
}
table{
    width: 75%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgb(255, 248, 248);
    box-shadow: 0 2px 5px  brown;
}
th, td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}
caption {
    caption-side: top;
    font-weight: bold;
    font-size: 25px;
    color: antiquewhite;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: brown;
}
.contact-form {
display: flex;
flex-direction: column;
max-width: 350px;
margin: 20px auto;
background-color: black;
padding: 20px;
border-radius: 5px;
box-shadow: 4px 4px 4px brown;
}
.contact-form button{
    padding: 10px;
    background-color: rgb(240, 234, 234);
    color: rgb(8, 8, 8);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.contact-form button:hover {
  background-color: brown;
}
section div a {
    display: inline-block;
    margin: 15px;
    color: brown;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

#changeTextBtn{
   display: block;
   margin: 20px auto;
   padding: 10px 20px;
   background-color: brown;
   color: antiquewhite;
   border: none;
   font-size: 16px;
   transition: all 0.3s ease;
}

#changeTextBtn:hover{
  background-color: black;
  transform: scale(1.1);
}
#messageArea{
  text-align: center;
  font-size: 20px;
  color: green;
}

@media (max-width: 600px) {

 .container {
 flex-direction: column;
 gap: 10px;
 }

 .part1, .part2 {
 width: 100%;
 height: auto;
 font-size: 18px;
 }
 } 

@media (min-width: 601px) and (max-width: 1024px) { 
.container {
 flex-direction: row;
 gap: 15px;
 } 

.part1, .part2 {
 width: 48%;
 font-size: 20px; 
}
 }

 @media (min-width: 1025px){
 .container {
 flex-direction: row; 
gap: 20px;
 }

 .part1, .part2 { 
width: 50%;
 font-size: 23px; 
}
 }

footer {
    text-align: center;
    background-color: antiquewhite;
    color: black;
    padding: 15px;
    margin-top: 30px;
}